# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example
